<h2><%= @user.fullname %></h2>
<h3><%= @user.handle %></h3>
<p><%= @user.location %></p>
<p><%= @user.url %></p>
<p><%= @user.bio %></p>

<% if current_user.following?(@user) %>
  <%= render "unfollow" %>
<% else %>
  <%= render "follow" %>
<% end %>

<h3>Recent Tweets</h3>
<h4><%= @user.posts.count %> total tweets</h4>

<% @posts.each do |post| %>
  <p>
    <%= post.content %>
    Created at: <%= post.created_at.strftime("%d/%m/%Y") %>
  </p>
<% end %>